{% extends 'dashboard/base.html.twig' %}

{% block title %}Request Detail{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        <div class="alert alert-success" role="alert" id="ajax-flash" style="display: none;"></div>
        <div class="row mt-4">
            <div class="col-sm-6 col-lg-12">
                <div class="card mb-2">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="mb-0">Request Details</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group">
{#                            {% for request in app.user.requests|filter(request => request.id == app.request.get('id')) %}#}
                                <li class="list-group-item border-0 justify-content-between ps-0 pb-0 border-radius-lg">
                                    <div class="d-flex">
                                        <div class="d-flex align-items-center">
                                            {% if request.status == 'pending' %}
                                                <button class="btn btn-icon-only btn-rounded btn-outline-info mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-spinner" aria-hidden="true"></i>
                                                </button>
                                            {% endif %}
                                            {% if request.status == 'warning' or request.status == 'note' %}
                                                <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-exclamation"></i>
                                                </button>
                                            {% endif %}
                                            {% if request.status == 'refusal' %}
                                                <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                            {% endif %}
                                            {% if request.status == 'accepted' %}
                                                <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 p-3 btn-sm d-flex align-items-center justify-content-center">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                            {% endif %}

                                            <div class="d-flex flex-column">
                                                <a class="mb-1 text-dark text-sm text-decoration-underline" href="{{ path('requests_detail', {'id': request.id}) }}">{{ request.merchant }}</a>
                                                <span class="text-xs">{{ request.timestamp|date('Y-m-d') }} at {{ request.timestamp|date('H:i') }}</span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold ms-auto">
                                            - £ {{ request.price }}

                                        </div>
                                    </div>
                                    <hr class="horizontal dark mt-3 mb-2">
                                    <ul>
                                        <li>
                                            Created by {{ request.user.firstname }} {{ request.user.lastname }}
                                        </li>
                                        <li>
                                            Department: {% if request.department is not null %}{{ request.department.name }}{% else %}N/A{% endif %}
                                        </li>
                                        <li>
                                            {% set budgetName = request.budget.name|default('None assigned') %}
                                            Budget: {{ budgetName }}
                                            Remaining funds: £500
                                        </li>
                                    </ul>
                                </li>
{#                            {% endfor %}#}
                        </ul>
                    </div>
                </div>
                <div class="card h-30 mb-2">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="mb-0">Approval</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group">
                        <li class="list-group-item border-0 justify-content-between ps-0 pb-0 border-radius-lg">
                            <div class="d-flex">
                                <div>
                                    <a href="javascript:;" class="btn btn-icon bg-gradient-success approval-status-set" data-status="accepted">
                                        <i class="fas fa-check"></i>
                                        Approve
                                    </a>
                                    <a href="" class="btn btn-icon bg-gradient-warning approval-status-set" data-status="warning">
                                        <i class="fas fa-exclamation"></i>
                                        Alert
                                    </a>
                                    <a href="" class="btn btn-icon bg-gradient-danger approval-status-set" data-status="refusal">
                                        <i class="fas fa-times"></i>
                                        Reject
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
{#                                <div class="input-group">#}
{#                                    <span class="input-group-text">Change budget </span>#}
                                    <label for="sel-budget">Change budget</label> {# TODO : Change this to a modal with more info? #}
                                    <select id="sel-budget" class="form-control">
                                        {% for budget in request.department.budgets %}
                                        <option value="{{ budget.id }}" {% if budget.id == request.budget.id %}selected{% endif %}>{{ budget.name }}</option>
                                        {% endfor %}
                                    </select>
{#                                </div>#}
                            </div>
                            <div class="form-group">
{#                                <div class="input-group">#}
{#                                    <span class="input-group-text">Comments </span>#}
                                <label for="ta-comments">Comments</label>
                                    <textarea class="form-control ml-2" aria-label="With textarea" id="ta-comments"></textarea>
                                    <ul>
                                    {% for comment in request.approvalComments %}
                                        <li>User: {{ comment.user.firstname }} {{ comment.user.lastname }}</li>
                                        <li>Comment: {{ comment.comment }}</li>
                                        <li>Timestamp: {{ comment.timestamp|date('Y-m-d H:i:s') }}</li>
                                    {% endfor %}
                                    </ul>
{#                                </div>#}
                            </div>
                        </li>
                        </ul>
                    </div>
                </div>
                    <div class="card h-30">
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6 class="mb-0">Receipt</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group">
                                <li class="list-group-item border-0 justify-content-between ps-0 pb-0 border-radius-lg">
                                        {% for reciept in request.receipts %}
                                            <img class="img-thumbnail" src="{{ reciept.image }}" alt="">
                                        {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            // Approval - Status change
            // Buttons all in status-set class
            $('.approval-status-set').click(function(e) {
                e.preventDefault();
                console.log('Doing ajax for status change');
                // Get setting
                let status = $(this).data('status');
                let id = {{ app.request.get('id') }};
                var data = {
                  comments: $('#ta-comments').val()
                };

                // Approval - Add comment
                // Do ajax
                $.ajax({
                    url: '/approve/status/' + id + '/' + status,
                    method: 'POST',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        if (response.status) {
                            showFlash('status', status);
                            // console.log(data);
                            console.log('Status: ' + status + ' enabled succesfully with comment: ' + data.comments);
                        } else {
                            console.log('Error changing status');
                        }
                    },
                    error: function(xhr) {
                        // Handle errors if needed
                        console.error('Toggle request failed:', xhr.responseText);
                    }
                });
            });

            $('#sel-budget').change(function () {
                console.log("Budget input changed");
                const budgetId = $(this).val();
                const requestId = {{ app.request.get('id') }};
                $.ajax({
                    url: '/approve/change-budget/' + requestId + '/' + budgetId,
                    type: 'GET',
                    success: function(response) {
                        let message = 'Budget changed to ' + response.budget + ' successfully';
                        showFlash('budget', message);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });

        function showFlash(type, text) {
            let message = '';
            if (type === 'status') {
                text = text.charAt(0).toUpperCase() + text.slice(1);
                message = 'Successfully changed status to ' + text;
            } else if (type === 'budget') {
                message = text;
            }

            $('#ajax-flash').text(message).fadeIn('slow');
            setTimeout(function() { $('#ajax-flash').fadeOut('slow'); }, 3000);
        }
    </script>

{% endblock %}